.input {
  padding: 5px;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

.input:focus {
  border-bottom-color: var(--primary-blue-color);
}

.error {
  color: var(--primary-red-color);
}