@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root[data-theme='light'] {
  --primary-blue-color: #3E50B5;
  --primary-gray-color: #646464;
  --primary-white-color: #FFFFFF;
  --primary-black-color: #000000;
  --primary-red-color: #FF4081;

  --max-content-width: 1200px
}

:root[data-theme='black'] {
  --primary-blue-color: #FFFFFF;
  --primary-gray-color: #b1bbf0;
  --primary-white-color: #3E50B5;
  --primary-black-color: #FFFFFF;
  --primary-red-color: #FF4081;

  --max-content-width: 1200px
}

body {
  font-weight: 400;
  font-family: "Jost", sans-serif;
  background-color: var(--primary-white-color);
}


/* align */
.full-size {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.content-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.page-content {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 30px;
}

/* margin */
.m-top10 {
  margin-top: 10px;
}

.m-top30 {
  margin-top: 30px;
}

.m-top60 {
  margin-top: 60px;
}

.m-right10 {
  margin-right: 10px;
}

.m-right30 {
  margin-right: 30px;
}

.m-bot10 {
  margin-bottom: 10px;
}

.m-bot30 {
  margin-bottom: 30px;
}

.m-left30 {
  margin-left: 30px;
}

@media (max-width: 800px) {
  .m-top30 {
    margin-top: 15px;
  }

  .m-top60 {
    margin-top: 30px;
  }
  
  .m-right30 {
    margin-right: 15px;
  }
  
  .m-bot30 {
    margin-bottom: 15px;
  }
  
  .m-left30 {
    margin-left: 15px;
  }
}

/* padding */

.p-top60 {
  padding-top: 60px;
}

.p-bot10 {
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .p-top60 {
    padding-top: 30px;
  }
}

/* font size */
.fs36 {
  font-size: 36px;
}

.fs32 {
  font-size: 32px;
}

.fs28 {
  font-size: 28px;
}

.fs24 {
  font-size: 24px;
}

.fs22 {
  font-size: 22px;
}

.fs18 {
  font-size: 18px;
}


@media (max-width: 800px) {
  .fs36 {
    font-size: 24px;
  }

  .fs32 {
    font-size: 28px;
  }

  .fs28 {
    font-size: 24px;
  }
}

/* radius */
.r18 {
  border-radius: 18px;
}